h1{
    font-size: 60px;
}
p{
    font-size: 25px;
    color: dimgray;
}
body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.name-highlight{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    font-size: large;
}
.half img{
    width: 100%;

}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,orange);
    font-size: medium;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
.middle-half img{
    width: 45%;
    float: left;

}
.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}